<a routerLink="" style="color: white;
background: red;
border-radius: 10px;
padding: 20px 30px;
display: flex;
position: absolute;
font-size: 20px;
font-weight: bold;
top: 20px;
left: 20px;">Trở lại</a>

<section id="section1" style="height: 1500px;">
    <div class="container">
        <div class="c-main-title1">
            <h3 class="list"></h3>

            <h2 class="">
                DANH SÁCH YÊU THÍCH CỦA BẠN<span></span>
            </h2>
        </div>
        <div class="p-top1__selects">

            <div class="c-select1">
                <select class="select-style" name="" id="" [(ngModel)]="chedosort">
                    <option selected="" value="0">Giá thấp đến cao</option>
                    <option value="1">Giá cao đến thấp</option>
                </select>
            </div>

            <div class="c-select1">
                <select class="select-style" name="" id="#gia" [(ngModel)]="mucgia">
                    <option selected="true" value="0">Mức giá</option>
                    <option value="1">800 - 1 Triệu</option>
                    <option value="2">1 - 2 Triệu</option>
                    <option value="3">2 - 3 Triệu</option>
                    <option value="4">Trên 3 Triệu</option>
                </select>
            </div>

            <div class="c-select1">
                <select class="select-style" name="" id="" [(ngModel)]="type">
                    <option selected="" value="0">Phòng trọ</option>
                    <option value="1">Nhà nguyên căn</option>

                </select>
            </div>

            <div class="c-select1">
                <select class="select-style" name="" id="" [(ngModel)]="diachi">
                    <option selected="" value="0">Thủ Đức</option>
                    <option value="1">Quận 1</option>
                    <option value="2">Quận 2</option>
                    <option value="3">Quận 3</option>
                    <option value="4">Quận 4</option>
                </select>
            </div>


            <a class="c-btn1 btn1" title="filter" (click)="sort()">
                <img class="icon1" src="assets/img/property.png" alt="property" />
            </a>
        </div>

        <p style="text-align: center;" *ngIf="isShow">Không tìm thấy kết quả nào</p>
        <section class="p-top1__list1" style="overflow: scroll; height: 1100px;">

            <div class="row row group-ef c-row-list1 loaded">

                <div class="col-12">
                    <div class="listingRents">

                        <div class="owl-carousel s-dots s-auto_ s-height s-loop paging-bar owl-loaded owl-drag row-item"
                            style="width: 1170px;display: flex;flex-wrap: wrap;">


                            <div class="row item" *ngFor="let phongTro of array" style="display: flex; width: 33%;">

                                <a
                                    class="col-12 col-sm-6 col-md-6 col-lg-4 c-row-list1__card1 quickview-wrapper efch ef-img-b hover-item">

                                    <div class="content1">

                                        <div class="box1 btn-modal">
                                            <div class="c-row-list1__img1 tRes_68" data-id="275540"
                                                routerLink="/chi-tiet/{{phongTro.id}}" style="cursor: pointer;"
                                                onclick="getListingDetailModal(event);">
                                                <img src="{{phongTro.hinh}}" alt="img">
                                            </div>
                                            <div class="box1__item1">
                                                <ul>
                                                    <li>
                                                        <i><img src="assets/landing-pages/fast/images/compass.svg"
                                                                alt=""></i> <span>Không xác định</span>
                                                    </li>
                                                    <li> <i class="icon icon-ruler"></i>
                                                        <span>{{phongTro.dienTich}}</span>
                                                    </li>
                                                    <li> <i class="icon icon-furniture"></i> <span>0</span> </li>
                                                    <li> <i class="icon icon-bathroom"></i> <span>0</span> </li>
                                                </ul>
                                            </div>

                                            <div class="btn-quickview">
                                                <img class="icon1" src="assets/img/property.png" alt="property"
                                                    data-id="275540" onclick="getListingDetailModal(event);">
                                            </div>
                                        </div>

                                        <div class="info1">
                                            <h4 class="info1__title1 btn-modal" data-id="275540"
                                                onclick="getListingDetailModal(event);"> {{phongTro.ten}} </h4>
                                            <div class="info1__box1">
                                                <p> {{phongTro.tinh}}, {{phongTro.quan}}, {{phongTro.phuong}} </p>
                                            </div>
                                            <div class="info1__box2">

                                                <p class="info1__price">Giá <strong> {{getPriceFormat(phongTro.gia)}}
                                                        VND </strong></p>
                                            </div>

                                            <div class="info1__box3" style="margin-top:20px">
                                                <span class="xoa" (click)="remove(''+phongTro.id)">Bỏ thích</span>
                                            </div>
                                        </div>

                                    </div>

                                </a>

                            </div>

                            <div *ngIf="isShow" style="display: flex; flex-wrap: wrap;justify-content: space-between;">
                                <div class="row item" *ngFor="let phongTro of arrayRoot">


                                    <a style="width: 380px !important;"
                                        class="col-12 col-sm-6 col-md-6 col-lg-4 c-row-list1__card1 quickview-wrapper efch ef-img-b hover-item">
                                        <div class="content1">

                                            <div class="box1 btn-modal">
                                                <div class="c-row-list1__img1 tRes_68" data-id="275540"
                                                    routerLink="/chi-tiet/{{phongTro.id}}" style="cursor: pointer;"
                                                    onclick="getListingDetailModal(event)">
                                                    <img src="https://cdn.propzy.vn/listing/thumbnail/map/2020/11/11/listing_a368fd01162c45891101423b46c71c047759af9e5258dd3b80f0cee1df59ac31.jpg"
                                                        alt="img">
                                                </div>
                                                <div class="box1__item1">
                                                    <ul>
                                                        <li>
                                                            <i><img src="assets/landing-pages/fast/images/compass.svg"
                                                                    alt=""></i> <span>Không xác định</span>
                                                        </li>
                                                        <li> <i class="icon icon-ruler"></i>
                                                            <span>{{phongTro.dienTich}}</span>
                                                        </li>
                                                        <li> <i class="icon icon-furniture"></i> <span>0</span> </li>
                                                        <li> <i class="icon icon-bathroom"></i> <span>0</span> </li>
                                                    </ul>
                                                </div>

                                                <div class="btn-quickview">
                                                    <img class="icon1" src="assets/img/property.png" alt="property"
                                                        data-id="275540" onclick="getListingDetailModal(event);">
                                                </div>
                                            </div>

                                            <div class="info1">
                                                <h4 class="info1__title1 btn-modal" data-id="275540"
                                                    onclick="getListingDetailModal(event);"> {{phongTro.ten}} </h4>
                                                <div class="info1__box1">
                                                    <p> {{phongTro.tinh}}, {{phongTro.quan}}, {{phongTro.phuong}} </p>
                                                </div>
                                                <div class="info1__box2">
                                                    <p class="info1__price">Giá <strong>
                                                            {{getPriceFormat(phongTro.gia)}}
                                                            VND </strong></p>
                                                </div>

                                                <div class="info1__box3" style="margin-top:20px">
                                                    <span class="xoa" (click)="remove(''+phongTro.id)">Bỏ thích</span>
                                                </div>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>


    </div>
</section>