<div class="wrap-header">
    <div class="container">
        <a href="index.html" id="logo">
            <img src="https://i.imgur.com/g7dphs3.png">
            <img src="https://i.imgur.com/LYQJMPS.png" style="margin-left: 20px;">
        </a>

        <div class="wrap-menu">
            <ul class="menu">
                <li id="danhsach" class="active ds"><a href="#">Danh sách nhà thuê<div></div></a></li>
                <li id="gioithieu" class="active gt"><a href="#">Giới thiệu<div></div></a></li>
                <li id="quytrinh" class="active qt"><a href="#">Quy trình tìm phòng<div></div></a></li>
            </ul>
        </div>
    </div>
</div>

<!-- banner -->
<div class="banner">
    <div class="img"></div>
    <ul>
        <li>
            <div class="icon-title">
                <div class="icon">
                    <img src="fast.png">
                </div>
                <h5 class="title">Tận tâm</h5>
            </div>
            <div class="text">
                FORD MUSTANG luôn đồng hành, hỗ trợ mọi vấn đề mọi lúc trong thời gian ngắn nhất.
            </div>
        </li>
        <li>
            <div class="icon-title">
                <div class="icon">
                    <img src="/img/guard.png" alt="fast">
                </div>
                <h5 class="title">Đáng tin cậy</h5>
            </div>
            <div class="text">
                Tất cả nhà thuê chính chủ, không trung gian, cam kết an tâm khi thuê.
            </div>
        </li>
        <li>
            <div class="icon-title">
                <div class="icon">
                    <img src="/img/like.png" alt="fast">
                </div>
                <h5 class="title">Dịch vụ miễn phí</h5>
            </div>
            <div class="text">
                Dịch vụ tìm nhà và dẫn đi xem hoàn toàn miễn phí.
            </div>
        </li>
    </ul>
</div>

<!-- Doing -->
<div class="doing">
    <h1>Quy trình tìm phòng</h1>
    <h2>Cách lựa chọn nhà của Ford Mustang ?</h2>
    <div></div>
    <div>
        <div class="doing-div">
            <div class="doing-header">
                <div>
                    <p>1</p>
                </div>
            </div>
            <div class="doing-content">
                <img src="/src/img/sale.png" alt="">
                <h3>Nhận thông tin</h3>
                <p>Nhận thông tin từ người cho thuê</p>
            </div>
        </div>
        <div class="doing-div">
            <div class="doing-header">
                <div>
                    <p>2</p>
                </div>
            </div>
            <div class="doing-content">
                <img src="img/address.png" alt="">
                <h3>Ford Mustang tìm nhà giúp</h3>
                <p>Ford Mustang đi đến địa điểm của người cho thuê cung cấp để khảo sát, chọn lọc</p>
            </div>
        </div>
        <div class="doing-div">
            <div class="doing-header">
                <div>
                    <p>3</p>
                </div>
            </div>
            <div class="doing-content">
                <img src="img/clock.png" alt="">
                <h3>Tài chính</h3>
                <p>Ford Mustang luôn đảm bảo giá phòng tốt nhất đối với sinh viên</p>
            </div>
        </div>
    </div>
</div>



    <!----------------------- danh sách sản phẩm và lọc--------------->
    <section id="section1" style="height: 1500px;">
      <div class="container">
        <div class="c-main-title1">
          <h3 class="list">DANH SÁCH</h3>

          <h2 class="">
            Phòng trọ giá rẻ cho sinh viên <span>Nông Lâm</span>
          </h2>
        </div>
        <div class="p-top1__selects">

          <div class="c-select1">
              <select class="select-style" name="" id="">
                <option selected="" value="1">Giá thấp đến cao</option>
                <option value="2">Giá cao đến thấp</option>
                <option value="5">Mới nhất</option>
              </select>
          </div>

          <div class="c-select1">
            <select class="select-style" name="" id="">
              <option selected="" value="1">Mức giá</option>
              <option value="2">800 - 1 Triệu</option>
              <option value="2">1 - 2 Triệu</option>
              <option value="2">2 - 3 Triệu</option>
              <option value="2">Trên 3 Triệu</option>
            </select>
        </div>

        <div class="c-select1">
            <select class="select-style" name="" id="">
              <option selected="" value="1">Phòng trọ</option>
              <option value="2">Nhà nguyên căn</option>

            </select>
        </div>

        <div class="c-select1">
              <select class="select-style" name="" id="">
                <option selected="" value="1">Thủ Đức</option>
                <option value="2">Quận 1</option>
                <option value="5">Quận 2</option>
                <option value="5">Quận 3</option>
                <option value="5">Quận 4</option>
              </select>
          </div>


          <a class="c-btn1 btn1" title="filter" onclick="filterRent()">
            <img
              class="icon1"
              src="../../img/property.png"
              alt="property"
            />
          </a>
        </div>

        <section class="p-top1__list1">

            <div class="row row group-ef c-row-list1 loaded">

                <div class="col-12">
                    <div class="listingRents">


                        <div class="owl-carousel s-dots s-auto_ s-height s-loop paging-bar owl-loaded owl-drag row-item"
                        style="width: 1170px;">
                        <div class="row item">

                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 c-row-list1__card1 quickview-wrapper efch ef-img-b hover-item">

                                <div class="content1">

                                <div class="box1 btn-modal">
                                    <div class="c-row-list1__img1 tRes_68" data-id="275540" onclick="getListingDetailModal(event);">
                                        <img src="https://cdn.propzy.vn/listing/thumbnail/map/2020/11/11/listing_a368fd01162c45891101423b46c71c047759af9e5258dd3b80f0cee1df59ac31.jpg" alt="img">
                                    </div>
                                    <div class="box1__item1">
                                        <ul>
                                             <li>
                                                 <i><img src="/assets/landing-pages/fast/images/compass.svg" alt=""></i> <span>Không xác định</span> </li>
                                            <li> <i class="icon icon-ruler"></i> <span>200 m²</span> </li>
                                            <li> <i class="icon icon-furniture"></i> <span>0</span> </li>
                                             <li> <i class="icon icon-bathroom"></i> <span>0</span> </li>
                                           </ul>
                                     </div>

                                     <div class="btn-quickview">
                                          <img class="icon1" src="img/property.png" alt="property" data-id="275540" onclick="getListingDetailModal(event);">
                                    </div>
                                </div>

                                <div class="info1">
                                    <h4 class="info1__title1 btn-modal" data-id="275540" onclick="getListingDetailModal(event);"> Cho thuê gấp lô đất hẻm xe hơi, ngay đường Tam Bình, phường Tam Phú, Quận Thủ Đức </h4>
                                    <div class="info1__box1"> <p> Đường Tam Bình, Phường Tam Phú, Quận Thủ Đức, Hồ Chí Minh </p> </div>
                                    <div class="info1__box2"> <p class="info1__price">Giá <strong>3 triệu</strong></p> <a class="c-btn1 btn-modal" data-modal="popup" data-listing-link="/thue/nha/hcm/quan-thu-duc/id275540" data-listing-id="275540" data-listing-type-id="2" data-property-type-id="2" data-district-id="19" data-price="" onclick="setBookingData(event,this);"> Đặt lịch xem </a> </div>
                                </div>

                                </div>

                            </div>

                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 c-row-list1__card1 quickview-wrapper efch ef-img-b hover-item">

                                <div class="content1">

                                <div class="box1 btn-modal">
                                    <div class="c-row-list1__img1 tRes_68" data-id="275540" onclick="getListingDetailModal(event);">
                                        <img src="https://cdn.propzy.vn/listing/thumbnail/map/2020/11/11/listing_a368fd01162c45891101423b46c71c047759af9e5258dd3b80f0cee1df59ac31.jpg" alt="img">
                                    </div>
                                    <div class="box1__item1">
                                        <ul>
                                             <li>
                                                 <i><img src="/assets/landing-pages/fast/images/compass.svg" alt=""></i> <span>Không xác định</span> </li>
                                            <li> <i class="icon icon-ruler"></i> <span>200 m²</span> </li>
                                            <li> <i class="icon icon-furniture"></i> <span>0</span> </li>
                                             <li> <i class="icon icon-bathroom"></i> <span>0</span> </li>
                                           </ul>
                                     </div>

                                     <div class="btn-quickview">
                                          <img class="icon1" src="img/property.png" alt="property" data-id="275540" onclick="getListingDetailModal(event);">
                                    </div>
                                </div>

                                <div class="info1">
                                    <h4 class="info1__title1 btn-modal" data-id="275540" onclick="getListingDetailModal(event);"> Cho thuê gấp lô đất hẻm xe hơi, ngay đường Tam Bình, phường Tam Phú, Quận Thủ Đức </h4>
                                    <div class="info1__box1"> <p> Đường Tam Bình, Phường Tam Phú, Quận Thủ Đức, Hồ Chí Minh </p> </div>
                                    <div class="info1__box2"> <p class="info1__price">Giá <strong>3 triệu</strong></p> <a class="c-btn1 btn-modal" data-modal="popup" data-listing-link="/thue/nha/hcm/quan-thu-duc/id275540" data-listing-id="275540" data-listing-type-id="2" data-property-type-id="2" data-district-id="19" data-price="" onclick="setBookingData(event,this);"> Đặt lịch xem </a> </div>
                                </div>

                                </div>

                            </div>

                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 c-row-list1__card1 quickview-wrapper efch ef-img-b hover-item">

                                <div class="content1">

                                <div class="box1 btn-modal">
                                    <div class="c-row-list1__img1 tRes_68" data-id="275540" onclick="getListingDetailModal(event);">
                                        <img src="https://cdn.propzy.vn/listing/thumbnail/map/2020/11/11/listing_a368fd01162c45891101423b46c71c047759af9e5258dd3b80f0cee1df59ac31.jpg" alt="img">
                                    </div>
                                    <div class="box1__item1">
                                        <ul>
                                             <li>
                                                 <i><img src="/assets/landing-pages/fast/images/compass.svg" alt=""></i> <span>Không xác định</span> </li>
                                            <li> <i class="icon icon-ruler"></i> <span>200 m²</span> </li>
                                            <li> <i class="icon icon-furniture"></i> <span>0</span> </li>
                                             <li> <i class="icon icon-bathroom"></i> <span>0</span> </li>
                                           </ul>
                                     </div>

                                     <div class="btn-quickview">
                                          <img class="icon1" src="img/property.png" alt="property" data-id="275540" onclick="getListingDetailModal(event);">
                                    </div>
                                </div>

                                <div class="info1">
                                    <h4 class="info1__title1 btn-modal" data-id="275540" onclick="getListingDetailModal(event);"> Cho thuê gấp lô đất hẻm xe hơi, ngay đường Tam Bình, phường Tam Phú, Quận Thủ Đức </h4>
                                    <div class="info1__box1"> <p> Đường Tam Bình, Phường Tam Phú, Quận Thủ Đức, Hồ Chí Minh </p> </div>
                                    <div class="info1__box2"> <p class="info1__price">Giá <strong>3 triệu</strong></p> <a class="c-btn1 btn-modal" data-modal="popup" data-listing-link="/thue/nha/hcm/quan-thu-duc/id275540" data-listing-id="275540" data-listing-type-id="2" data-property-type-id="2" data-district-id="19" data-price="" onclick="setBookingData(event,this);"> Đặt lịch xem </a> </div>
                                </div>

                                </div>

                            </div>

                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 c-row-list1__card1 quickview-wrapper efch ef-img-b hover-item">

                                <div class="content1">

                                <div class="box1 btn-modal">
                                    <div class="c-row-list1__img1 tRes_68" data-id="275540" onclick="getListingDetailModal(event);">
                                        <img src="https://cdn.propzy.vn/listing/thumbnail/map/2020/11/11/listing_a368fd01162c45891101423b46c71c047759af9e5258dd3b80f0cee1df59ac31.jpg" alt="img">
                                    </div>
                                    <div class="box1__item1">
                                        <ul>
                                             <li>
                                                 <i><img src="/assets/landing-pages/fast/images/compass.svg" alt=""></i> <span>Không xác định</span> </li>
                                            <li> <i class="icon icon-ruler"></i> <span>200 m²</span> </li>
                                            <li> <i class="icon icon-furniture"></i> <span>0</span> </li>
                                             <li> <i class="icon icon-bathroom"></i> <span>0</span> </li>
                                           </ul>
                                     </div>

                                     <div class="btn-quickview">
                                          <img class="icon1" src="img/property.png" alt="property" data-id="275540" onclick="getListingDetailModal(event);">
                                    </div>
                                </div>

                                <div class="info1">
                                    <h4 class="info1__title1 btn-modal" data-id="275540" onclick="getListingDetailModal(event);"> Cho thuê gấp lô đất hẻm xe hơi, ngay đường Tam Bình, phường Tam Phú, Quận Thủ Đức </h4>
                                    <div class="info1__box1"> <p> Đường Tam Bình, Phường Tam Phú, Quận Thủ Đức, Hồ Chí Minh </p> </div>
                                    <div class="info1__box2"> <p class="info1__price">Giá <strong>3 triệu</strong></p> <a class="c-btn1 btn-modal" data-modal="popup" data-listing-link="/thue/nha/hcm/quan-thu-duc/id275540" data-listing-id="275540" data-listing-type-id="2" data-property-type-id="2" data-district-id="19" data-price="" onclick="setBookingData(event,this);"> Đặt lịch xem </a> </div>
                                </div>

                                </div>

                            </div>

                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 c-row-list1__card1 quickview-wrapper efch ef-img-b hover-item">

                                <div class="content1">

                                <div class="box1 btn-modal">
                                    <div class="c-row-list1__img1 tRes_68" data-id="275540" onclick="getListingDetailModal(event);">
                                        <img src="https://cdn.propzy.vn/listing/thumbnail/map/2020/11/11/listing_a368fd01162c45891101423b46c71c047759af9e5258dd3b80f0cee1df59ac31.jpg" alt="img">
                                    </div>
                                    <div class="box1__item1">
                                        <ul>
                                             <li>
                                                 <i><img src="/assets/landing-pages/fast/images/compass.svg" alt=""></i> <span>Không xác định</span> </li>
                                            <li> <i class="icon icon-ruler"></i> <span>200 m²</span> </li>
                                            <li> <i class="icon icon-furniture"></i> <span>0</span> </li>
                                             <li> <i class="icon icon-bathroom"></i> <span>0</span> </li>
                                           </ul>
                                     </div>

                                     <div class="btn-quickview">
                                          <img class="icon1" src="img/property.png" alt="property" data-id="275540" onclick="getListingDetailModal(event);">
                                    </div>
                                </div>

                                <div class="info1">
                                    <h4 class="info1__title1 btn-modal" data-id="275540" onclick="getListingDetailModal(event);"> Cho thuê gấp lô đất hẻm xe hơi, ngay đường Tam Bình, phường Tam Phú, Quận Thủ Đức </h4>
                                    <div class="info1__box1"> <p> Đường Tam Bình, Phường Tam Phú, Quận Thủ Đức, Hồ Chí Minh </p> </div>
                                    <div class="info1__box2"> <p class="info1__price">Giá <strong>3 triệu</strong></p> <a class="c-btn1 btn-modal" data-modal="popup" data-listing-link="/thue/nha/hcm/quan-thu-duc/id275540" data-listing-id="275540" data-listing-type-id="2" data-property-type-id="2" data-district-id="19" data-price="" onclick="setBookingData(event,this);"> Đặt lịch xem </a> </div>
                                </div>

                                </div>

                            </div>

                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 c-row-list1__card1 quickview-wrapper efch ef-img-b hover-item">

                                <div class="content1">

                                <div class="box1 btn-modal">
                                    <div class="c-row-list1__img1 tRes_68" data-id="275540" onclick="getListingDetailModal(event);">
                                        <img src="https://cdn.propzy.vn/listing/thumbnail/map/2020/11/11/listing_a368fd01162c45891101423b46c71c047759af9e5258dd3b80f0cee1df59ac31.jpg" alt="img">
                                    </div>
                                    <div class="box1__item1">
                                        <ul>
                                             <li>
                                                 <i><img src="/assets/landing-pages/fast/images/compass.svg" alt=""></i> <span>Không xác định</span> </li>
                                            <li> <i class="icon icon-ruler"></i> <span>200 m²</span> </li>
                                            <li> <i class="icon icon-furniture"></i> <span>0</span> </li>
                                             <li> <i class="icon icon-bathroom"></i> <span>0</span> </li>
                                           </ul>
                                     </div>

                                     <div class="btn-quickview">
                                          <img class="icon1" src="img/property.png" alt="property" data-id="275540" onclick="getListingDetailModal(event);">
                                    </div>
                                </div>

                                <div class="info1">
                                    <h4 class="info1__title1 btn-modal" data-id="275540" onclick="getListingDetailModal(event);"> Cho thuê gấp lô đất hẻm xe hơi, ngay đường Tam Bình, phường Tam Phú, Quận Thủ Đức </h4>
                                    <div class="info1__box1"> <p> Đường Tam Bình, Phường Tam Phú, Quận Thủ Đức, Hồ Chí Minh </p> </div>
                                    <div class="info1__box2"> <p class="info1__price">Giá <strong>3 triệu</strong></p> <a class="c-btn1 btn-modal" data-modal="popup" data-listing-link="/thue/nha/hcm/quan-thu-duc/id275540" data-listing-id="275540" data-listing-type-id="2" data-property-type-id="2" data-district-id="19" data-price="" onclick="setBookingData(event,this);"> Đặt lịch xem </a> </div>
                                </div>

                                </div>

                            </div>

                        </div>


                        </div>

                    </div>
                </div>
            </div>

        </section>


      </div>
    </section>

<!----------------------------- danh sách sản phẩm và lọc---------->





<!-- introduction -->
<div class="introduction">
    <div class="main-title">
        <h3>GIỚI THIỆU</h3>
        <h2>Vì sao chọn FORD MUSTANG</h2>
        <div></div>
    </div>
    <ul>
        <li>
            <div class="img">
                <img src="/img/img-s-1.jpg" alt="image">
            </div>
            <div class="info">
                <div class="title">
                    Nhanh chóng
                </div>
                <ul>
                    <li>
                        <span>Rút ngắn thời gian tìm kiếm</span>
                    </li>
                    <li>
                        <span>Nhà luôn trống, dọn vào ở ngay</span>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="img">
                <img src="/img/img-s-2.jpg" alt="image">
            </div>
            <div class="info">
                <div class="title">
                    Nguồn nhà dồi dào
                </div>
                <ul>
                    <li>
                        Kết nối với hơn 100 chủ nhà trọ
                    </li>
                    <li>
                        Nhiều khung giá, vị trí, diện tích nhà
                    </li>
                    <li>
                        Đa dạng tiện ích đi kèm
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="img">
                <img src="/img/img-s-3.jpg" alt="image">
            </div>
            <div class="info">
                <div class="title">
                    Giao dịch an toàn
                </div>
                <ul>
                    <li>
                        Không bắt đặt cọc quá hai tháng

                    </li>
                    <li>
                        Có hợp đồng thuê nhà đầy đủ
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<!-- Question -->
<div class="question">
    <h1>Bạn vẫn chưa tìm được phòng ưng ý ?</h1>
    <p>Có rất nhiều phòng được đăng lên đây, hãy để Ford Mustang tư vấn chọn giúp bạn !</p>
    <span>TƯ VẤN MIỄN PHÍ</span>
</div>
<footer>
    <div class="footer-task">
        <div class="alpha">
            <img src="//img/LYQJMPS.png" class="footer-img">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            </p>
            <p>
                Email: vietnam@fordmustang.com
            </p>
            <p class="emphasize">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            </p>
            <span><i class="fa fa-phone">*4663</i></span>
        </div>
        <div class="beta">
            <div class="footer-link">
                <h6>
                    Về FordMustang
                </h6>
                <ul>
                    <li class="item">
                        <a href="">Giới thiệu</a>
                    </li>

                    <li class="item">
                        <a href="">Liên hệ</a>
                    </li>
                    <li class="item">
                        <a href="">Chính sách bảo mật</a>
                    </li>
                </ul>
            </div>

            <div class="footer-link">
                <h6>
                    Hệ thống FordMustang
                </h6>
                <ul>
                    <li class="item">
                        <a href="">Mua nhà</a>
                    </li>
                    <li class="item">
                        <a href="">Bán nhà</a>
                    </li>
                    <li class="item">
                        <a href="">Thuê nhà</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="footer-contact">
        <div class="col-3">
            <img src="/img/BoCongThuong.png">

        </div>
        <div class="col-3">
            <h6>
                Đăng ký nhận thông tin mới nhất từ FordMustang
            </h6>
            <div class="email-footer">
                <input type="email" name="email" placeholder="Nhập email để nhận thông tin">
                <div class="input-icon">
                    <i class="fa fa-arrow-right"></i>
                </div>
            </div>
        </div>
        <div class="col-3">
            <h6>
                Kết nối với chúng tôi
            </h6>
            <ul>
                <li>

                    <a class="item" href="fb.com/fordmustang"><i class="fa fa-facebook"></i></a>
                </li>

                <li>

                    <a class="item" href="instagram.com/fordmustang"> <i class="fa fa-instagram"></i></a>
                </li>
                <li>
                    <a class="item" href="youtube.com/fordmustang"><i class="fa fa-youtube"></i></a>
                </li>
            </ul>
        </div>

    </div>
</footer>
<div class="footer-license">
    2021 © Copyright FordMustang. All rights reserved.
</div>
