<div style="background: rgb(232, 232, 232);">
    <div class="container-fluid" style="width:1000px;margin:auto;">
        <div class="frame-cog">
            <h3>Thêm phòng mới</h3>

            <div class="save">
                <a href="#"><button type="button" style="float: left">
                        <i class="far fa-arrow-alt-circle-left"></i> Quay lại
                    </button></a>
                <button type="button" data-toggle="modal" data-target="#add-product">Thêm</button>

            </div>

            <div class="frame-cog-content" id="frame-content">
                <div class="frame" style="box-shadow: 1px 1px 3px -1px #5f5f5f;">


                    <ul class="information">
                        <li class="content-input">
                            <div class="title">
                                <p style="font-size: 16px;font-weight: 700;">Thông tin chung</p>
                            </div>
                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Tên phòng*</p>
                            </div>

                            <div class="input">
                                <input [(ngModel)]="ten" placeHolder="Nhập tên phòng" type="text" value="">
                            </div>

                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Diện tích*</p>
                            </div>

                            <div class="input">

                                <input [(ngModel)]="dienTich" name="area" placeHolder="Nhập diện tích phòng" type="number"
                                    value="">



                            </div>

                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Giá phòng*</p>
                            </div>

                            <div class="input">

                                <input name="area" [(ngModel)]="gia" placeHolder="Nhập giá phòng" type="number" value="">



                            </div>

                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Loại phòng*</p>
                            </div>
                            <div class="input">
                                <select class="" name="type" [(ngModel)]="loai">
                                    <option value="0" selected>Nhà nguyên căn</option>
                                    <option value="1">Phòng trọ</option>
                                </select>
                            </div>
                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Chiều dài</p>
                            </div>

                            <div class="input">

                                <input name="area" [(ngModel)]="chieuDai" placeHolder="Nhập chiều dài" type="number"
                                    value="">



                            </div>

                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Chiều rộng</p>
                            </div>

                            <div class="input">

                                <input name="area" [(ngModel)]="chieuRong" placeHolder="Nhập chiều rộng" type="number"
                                    value="">



                            </div>

                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Số phòng ngủ</p>
                            </div>

                            <div class="input">

                                <input name="area" [(ngModel)]="phongNgu" placeHolder="Nhập số phòng ngủ" type="number"
                                    value="">



                            </div>

                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Số phòng tắm</p>
                            </div>

                            <div class="input">

                                <input name="area" [(ngModel)]="phongTam" placeHolder="Nhập số phòng tắm" type="number"
                                    value="">



                            </div>

                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Lộ giới</p>
                            </div>

                            <div class="input">

                                <input name="area" [(ngModel)]="loGioi" placeHolder="Nhập lộ giới" type="number" value="">



                            </div>

                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Hình ảnh*</p>
                            </div>
                            <div class="input">
                                <img [src]="url" alt="Hình ảnh" style="width: 500px;">
                                <input (change)="onselectFile($event)" name="area" type="file" value=""
                                    accept="image/gif, image/jpeg, image/png" />
                            </div>

                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Thông tin chi tiết</p>
                            </div>

                            <div class="input">

                                <textarea class="textarea" [(ngModel)]="thongTinChiTiet" rows="5"
                                    placeholder="Nhập thông tin chi tiết"></textarea>



                            </div>

                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Tiện ích</p>
                            </div>

                            <div class="input">
                                <div class="input">
                                    <div class="row">
                                        <div class="col-12">
                                            <input id="bus" type="checkbox" value="" [(ngModel)]="ti1" />
                                            <label style="    margin: 0px 10px;
                                            color: #484848;" for="bus">Gần trạm xe buýt</label>
                                        </div>
                                        <div class="col-12">
                                            <input id="market" type="checkbox" value="" [(ngModel)]="ti2" />
                                            <label style="    margin: 0px 10px;
                                            color: #484848;" for="market">Gần chợ</label>
                                        </div>
                                        <div class="col-12">
                                            <input id="school" type="checkbox" value="" [(ngModel)]="ti3" />
                                            <label style="    margin: 0px 10px;
                                            color: #484848;" for="school">Gần trường học</label>
                                        </div>
                                        <div class="col-12">
                                            <input id="hospitol" type="checkbox" value="" [(ngModel)]="ti4" />
                                            <label style="    margin: 0px 10px;
                                            color: #484848;" for="hospitol">Gần bệnh viện</label>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p style="font-size: 16px;font-weight: 700;">Địa chỉ</p>
                            </div>
                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Tỉnh/thành*</p>
                            </div>
                            <div class="input">
                                <select name="branch" [(ngModel)]="tinh">
                                    <option selected disabled>Chọn tỉnh/thành</option>
                                    <option value="Thành phố Hồ Chí Minh">Thành phố Hồ Chí Minh</option>
                                </select>
                            </div>


                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Quận/Huyện*</p>
                            </div>
                            <div class="input">
                                <select name="branch" [(ngModel)]="quan">
                                    <option value="Quận 1" selected>Quận 1</option>
                                    <option value="Quận 2">Quận 2</option>
                                    <option value="Quận 3">Quận 3</option>
                                    <option value="Quận 4">Quận 4</option>
                                    <option value="Quận 5">Quận 5</option>
                                    <option value="Quận 6">Quận 6</option>
                                    <option value="Quận 7">Quận 7</option>
                                    <option value="Quận 8">Quận 8</option>
                                    <option value="Quận 9">Quận 9</option>
                                    <option value="Quận 10">Quận 10</option>
                                    <option value="Quận 11">Quận 11</option>
                                    <option value="Quận Thủ ĐỨc">Quận Thủ Đức</option>
                                    <option value="Quận Bình Thạnh">Quận Bình Thạnh</option>
                                    <option value="Quận Gò Vấp">Quận Gò Vấp</option>
                                </select>
                            </div>


                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Địa chỉ chi tiết*</p>
                            </div>

                            <div class="input">

                                <textarea class="textarea" [(ngModel)]="diachi" rows="2"
                                    placeholder="Nhập địa chỉ"></textarea>



                            </div>

                        </li>


                    </ul>
                </div>



            </div>

        </div>
    </div>
    <div class="modal fade" id="add-product" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có muốn thêm phòng mới?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="themPhongMoi()">Xác
                        nhận</button>
                </div>
            </div>
        </div>
    </div>
</div>