*{
  margin-top: 20px;
  margin: auto;
  max-width: 1100px;
}


.bl-parameter-listing ul{

  display: flex;
  margin-left: 25px;
  max-width: 1000px;
    -webkit-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    text-align: center;
    background: #f9f9f9;
    border-radius: 4px;
    padding: 13px 60px;
}

h1{
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bolder;
}


.bl-parameter-listing li {
  list-style: none;

  margin-right: 12px;
  width: 83px;
}


.bl-parameter-listing li span {
  display: block;
  color: #242933;
  font-size: 16px;
  letter-spacing: .432353px;
  line-height: 18px;
}
.xuonghang p {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1100px;
  font-size: 16px;
    font-family: sans-serif;
}
h3.tab-title  {
  margin-bottom: 20px;
  font-size: 29px;
  font-family: sans-serif;
}

.tab-detail{
  margin-top: 30px;
}


