


<div class="bl-parameter-listing">
  <ul>
    <li>

       <span class="sp-text">Chiều dài</span>
       <span class="sp-info">0</span>
      </li>
      <li>
        <i class="ic ic-bath"></i>
         <span class="sp-text">Chiểu rộng</span>
          <span class="sp-info">1</span>
       </li>
        <li>

            <span class="sp-text">Phòng ngủ</span>
            <span class="sp-info">46,5m²</span>
          </li>

          <li>

             <span class="sp-text">Phòng tắm</span>
             <span class="sp-info">46,5m²</span>
           </li>
         <li>
           
           <span class="sp-text">Lộ giới</span>
           <span class="sp-info">Không xác định</span>
          </li>
      </ul>
    </div>

    <div id="tab-detail">

      <h3 class="tab-title">
        THÔNG TIN CHI TIẾT
      </h3>

        <div class="tab-content entry-content xuonghang">

          <div>
            <p>
              - Bán căn hộ tầng 33 Vinhomes Golden River quận 1
            </p>
            <p>
             - Diện tích sử dụng 46,5m2, có 1 phòng ngủ, 1 nhà vệ sinh
            </p>
            <p>
              - Kết cấu căn hộ gồm  : 2 Phòng Ngủ , 2 Nhà vệ sinh , Có Ban công , 1 nhà bếp  ngay  trung tâm quận 5, gần trường học, bệnh viện, chợ An Đông, khu dân trí cao.
             </p>
             <p>
              - Nhà thoáng, căn thoáng mát nhất trong chung cư, phòng nào cũng có ánh sáng trời, 3 mặt thoáng, gió mát rượi
              Nhà mới, để lại trang bị nội thất cao cấp, còn bảo hành: Nhà sàn gỗ ngoại, tủ, bàn, giường. Gỗ chống ẩm An Cường, 2 máy lạnh daikin
             </p>

          </div>

        </div>
    </div>

    <div class="bando">

      <h3 class="vitri tab-title" > VỊ TRÍ</h3>

      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7838.684254869503!2d106.70676642475235!3d10.785086936675276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1547181657956" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>
