<div class="bl-parameter-listing">
  <ul>
    <li>

      <span class="sp-text">Chiều dài</span>
      <span class="sp-info">{{chieudai}}</span>
    </li>
    <li>
      <i class="ic ic-bath"></i>
      <span class="sp-text">Chiểu rộng</span>
      <span class="sp-info">{{chieurong}}</span>
    </li>
    <li>

      <span class="sp-text">Phòng ngủ</span>
      <span class="sp-info">{{phongngu}}</span>
    </li>

    <li>

      <span class="sp-text">Phòng tắm</span>
      <span class="sp-info">{{phongtam}}</span>
    </li>
    <li>

      <span class="sp-text">Lộ giới</span>
      <span class="sp-info">{{loGioi}}</span>
    </li>
  </ul>
</div>

<div id="tab-detail">

  <h1 class="tab-title">
    THÔNG TIN CHI TIẾT
  </h1>

  <div class="tab-content entry-content xuonghang">

    <div>
      <p>
        {{thongtinchitiet}}
      </p>
    </div>

  </div>
</div>

<div class="bando">

  <h1 class="vitri tab-title"> VỊ TRÍ</h1>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7838.684254869503!2d106.70676642475235!3d10.785086936675276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1547181657956"
    width="1100" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>
