<!-- <p>chi-tiet-phan4 works !</p> -->
<div class="wrap">
<div class="reviews">
  <h3>Đánh giá (2)</h3>
  <div class="review1">
      <div class="row no-gutters">
          <div class="col-1">
              <h4><a href="#">Meo</a></h4>
              <div class="ratings-container">
                  <!-- <div class="ratings">
                      <div class="ratings-val" style="width: 80%;"></div> -->
                      <!-- End .ratings-val -->
                  <!-- </div>End .ratings -->
                  <a class="img"><img src="https://i.imgur.com/aQaSAWg.jpg"style="height: 30px;"></a>
              </div><!-- End .rating-container -->
              <span class="review-date">6 ngày trước</span>
          </div><!-- End .col -->
          <div class="col">
              <h4>Xịn á</h4>

              <div class="review-content">
                  <p>Tui mua cho bồ</p>
              </div><!-- End .review-content -->

              <div class="review-action" >
                  <a href="#" style="text-decoration: none;"><i class="icon-thumbs-up"></i>Hữu ích (2)</a>
                  <a href="#" style="text-decoration: none;"><i class="icon-thumbs-down"></i>Vô ích (0)</a>
              </div><!-- End .review-action -->
          </div><!-- End .col-auto -->
      </div><!-- End .row -->
  </div><!-- End .review -->

  <div class="review1">
      <div class="row no-gutters">
          <div class="col-1">
              <h4><a href="#">Gâu</a></h4>
              <div class="ratings-container">
                  <!-- <div class="ratings">
                      <div class="ratings-val" style="width: 100%;"></div> -->
                      <!-- End .ratings-val -->
                  <!-- </div>End .ratings -->
                  <a><img src="https://i.imgur.com/aQaSAWg.jpg" style="height: 30px;"></a>
              </div><!-- End .rating-container -->
              <span class="review-date">5 ngày trước</span>
          </div><!-- End .col -->
          <div class="col">
              <h4>Tuyệt vời ghê</h4>

              <div class="review-content">
                  <p>Giá rẻ mà xịn dữ</p>
              </div><!-- End .review-content -->

              <div class="review-action">
                  <a href="#" style="text-decoration: none;"><i class="icon-thumbs-up"></i>Hữu ích (0)</a>
                  <a href="#" style="text-decoration: none;"><i class="icon-thumbs-down"></i>Vô ích (0)</a>
              </div><!-- End .review-action -->
          </div><!-- End .col-auto -->
      </div><!-- End .row -->
  </div><!-- End .review -->

  <div class="review1">
    <div class="row no-gutters">
        <div class="col-1">
            <input type="text" class="name" placeholder="nhập tên">
            <div class="ratings-container">
                <!-- <div class="ratings">
                    <div class="ratings-val" style="width: 100%;"></div> -->
                    <!-- End .ratings-val -->
                <!-- </div>End .ratings -->
                <a><img src="https://i.imgur.com/aQaSAWg.jpg" style="height: 30px;"></a>
            </div><!-- End .rating-container -->
        </div><!-- End .col -->
        <div class="col">
            <input type="text" class="title" placeholder="Tiêu đề">

            <div class="review-content">
                <!-- <input type="t" placeholder="nội dung" class="content"> -->
                <textarea placeholder="Nội dung"></textarea>
            </div><!-- End .review-content -->

            <div class="btn">
              <button>Gửi</button>
            </div>

        </div><!-- End .col-auto -->
    </div><!-- End .row -->
</div><!-- End .review -->

</div>
