<div class="container">
    <div class="four-images">
        <div class="left">
            <div class="img">
                <a href="#"><img src="https://i.imgur.com/viV5ULp.jpg" alt="img"></a>
            </div>
        </div>
        <div class="right">
            <div class="top">
                <div class="left">
                    <div class="img">
                        <a href="#"><img src="https://i.imgur.com/viV5ULp.jpg" alt="img"></a>
                    </div>
                </div>
                <div class="right">
                    <div class="img">
                        <a href="#"><img src="https://i.imgur.com/viV5ULp.jpg" alt="img"></a>
                    </div>
                </div>
            </div>
    
            <div class="bottom">
                <div class="img">
                    <a href="#"><img src="https://i.imgur.com/viV5ULp.jpg" alt="img"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="info">
        <div class="title">
            Cho thuê mặt bằng Bạch Đằng, Phường 15, Bình Thạnh.
        </div>
        <div class="address">
            <div class="icon"></div>
            Đường Bạch Đằng, Phường 15, Quận Bình Thạnh
        </div>
        <div class="price">
            37 triệu/tháng
        </div>
    </div>
</div>


