<div class="container">
    <div class="four-images">
        <div class="left">
            <div class="img">
                <a href="#"><img src="{{hinh}}" alt="img"></a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="info">
        <div class="title">
            {{ten}}
        </div>
        <div class="address">
            <div class="icon"></div>
            {{diachi}}
        </div>
        <div class="price">
            {{tien}}/tháng
        </div>
    </div>
</div>