<div class="container">
    <div class="four-images">
        <div class="left">
            <div class="img">
                <a href="#"><img src="https://i.imgur.com/viV5ULp.jpg" alt="img"></a>
            </div>
        </div>
        <div class="right">
            <div class="top">
                <div class="left">
                    <div class="img">
                        <a href="#"><img src="https://i.imgur.com/viV5ULp.jpg" alt="img"></a>
                    </div>
                </div>
                <div class="right">
                    <div class="img">
                        <a href="#"><img src="https://i.imgur.com/viV5ULp.jpg" alt="img"></a>
                    </div>
                </div>
            </div>

            <div class="bottom">
                <div class="img">
                    <a href="#"><img src="https://i.imgur.com/viV5ULp.jpg" alt="img"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="info">
        <div class="title">
            {{ten}}
        </div>
        <div class="address">
            <div class="icon"></div>
            {{diachi}}
        </div>
        <div class="price">
            {{tien}}/tháng
        </div>
    </div>
</div>