h1{
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bolder;
  margin-bottom: 20px;
}
*{
  margin-top: 20px;
  margin: auto;
  max-width: 1100px;
}

li{
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: normal;
  width: 200px;
}

ul{
  display: inline-block;

}

.wrap-ti{

  height: fit-content;
  display: block;
  width: 1100px;
  margin-top: 20px;
  margin-bottom: 20px;
}
