<div style="background: rgb(232, 232, 232);">
    <div class="container-fluid" style="width:1000px;margin:auto;">
        <div class="frame-cog">
            <h3>Thông tin phòng</h3>

            <div class="save">
                <a href="#"><button
                        type="button" style="float: left">
                        <i class="far fa-arrow-alt-circle-left"></i> Quay lại
                    </button></a>
                <button type="button" data-toggle="modal" data-target="#add-product">Lưu lại toàn bộ</button>

            </div>

            <div class="frame-cog-content" id="frame-content">
                <div class="frame" style="box-shadow: 1px 1px 3px -1px #5f5f5f;">


                    <ul class="information">
                        <li class="content-input">
                            <div class="title">
                                <p style="font-size: 16px;font-weight: 700;">Thông tin chung</p>
                            </div>
                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Tên phòng*</p>
                            </div>

                            <div class="input">

                                <input name="name" placeHolder="Nhập tên phòng" type="text" value="">



                            </div>

                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Diện tích*</p>
                            </div>

                            <div class="input">

                                <input name="area" placeHolder="Nhập diện tích phòng" type="number" value="">



                            </div>

                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Giá phòng*</p>
                            </div>

                            <div class="input">

                                <input name="area" placeHolder="Nhập giá phòng" type="number" value="">



                            </div>

                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Loại phòng*</p>
                            </div>
                            <div class="input">
                                <select class="" name="type">
                                    <option selected  disabled>Chọn loại phòng</option>
                                    <option value="MOI">Nhà nguyên căn</option>
                                    <option value="CU">Phòng trọ</option>
                                </select>
                            </div>
                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Chiều dài</p>
                            </div>

                            <div class="input">

                                <input name="area" placeHolder="Nhập chiều dài" type="number" value="">



                            </div>

                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Chiều rộng</p>
                            </div>

                            <div class="input">

                                <input name="area" placeHolder="Nhập chiều rộng" type="number" value="">



                            </div>

                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Số phòng ngủ</p>
                            </div>

                            <div class="input">

                                <input name="area" placeHolder="Nhập số phòng ngủ" type="number" value="">



                            </div>

                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Số phòng tắm</p>
                            </div>

                            <div class="input">

                                <input name="area" placeHolder="Nhập số phòng tắm" type="number" value="">



                            </div>

                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Lộ giới</p>
                            </div>

                            <div class="input">

                                <input name="area" placeHolder="Nhập lộ giới" type="number" value="">



                            </div>

                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Hình ảnh*</p>
                            </div>

                            <div class="input">

                                <input name="area" type="file" value="" accept="image/gif, image/jpeg, image/png" />



                            </div>

                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Thông tin chi tiết</p>
                            </div>

                            <div class="input">

                                <textarea class="textarea" rows="5" placeholder="Nhập thông tin chi tiết"></textarea>



                            </div>

                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Tiện ích</p>
                            </div>

                            <div class="input">
                                <div class="row">
                                    <div class="col-12">
                                        <input class="checkbox" id="bus" type="checkbox" value="" />
                                        <label style="    margin: 0px 10px;
                                        color: #484848;" for="bus">Gần trạm xe buýt</label>
                                    </div>
                                    <div class="col-12">
                                        <input id="market" type="checkbox" value="" />
                                        <label style="    margin: 0px 10px;
                                        color: #484848;" for="market">Gần chợ</label>
                                    </div>
                                    <div class="col-12">
                                        <input id="school" type="checkbox" value="" />
                                        <label style="    margin: 0px 10px;
                                        color: #484848;" for="school">Gần trường học</label>
                                    </div>
                                    <div class="col-12">
                                        <input id="hospitol" type="checkbox" value="" />
                                        <label style="    margin: 0px 10px;
                                        color: #484848;" for="hospitol">Gần bệnh viện</label></div>
                                </div>


                            </div>

                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p style="font-size: 16px;font-weight: 700;">Địa chỉ</p>
                            </div>



                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Tỉnh/thành*</p>
                            </div>
                            <div class="input">
                                <select name="branch">
                                    <option selected disabled>Chọn tỉnh/thành</option>
                                    <option value="hcm">Thành phố Hồ Chí Minh</option>
                                </select>
                            </div>


                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Quận/Huyện*</p>
                            </div>
                            <div class="input">
                                <select name="branch">
                                    <option selected disabled>Chọn quận/huyện</option>
                                    <option value="1">Quận 1</option>
                                    <option value="1">Quận 2</option>
                                    <option value="1">Quận 3</option>
                                    <option value="1">Quận 4</option>
                                    <option value="1">Quận 5</option>
                                    <option value="1">Quận 6</option>
                                    <option value="1">Quận 7</option>
                                    <option value="1">Quận 8</option>
                                    <option value="1">Quận 9</option>
                                    <option value="1">Quận 10</option>
                                    <option value="1">Quận 11</option>
                                    <option value="1">Quận Thủ Đức</option>
                                    <option value="1">Quận Bình Thạnh</option>
                                    <option value="1">Quận Gò Vấp</option>
                                </select>
                            </div>


                        </li>
                        <li class="content-input">
                            <div class="title">
                                <p>Địa chỉ chi tiết*</p>
                            </div>

                            <div class="input">

                                <textarea class="textarea" rows="2" placeholder="Nhập địa chỉ"></textarea>



                            </div>

                        </li>


                    </ul>
                </div>



            </div>

        </div>
    </div>
    <div class="modal fade" id="add-product" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    Bạn có muốn lưu lại thông tin đã sửa?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</div>